{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-alias",
      [
        { "src": "./src", "expose": "src" },
        { "src": "./src/actions", "expose": "actions" },
        { "src": "./src/components", "expose": "components" },
        { "src": "./src/containers", "expose": "containers" },
        { "src": "./src/models", "expose": "models" }
      ]
    ]
  ]
}
